.bg-color {
    background-color: #E9ECEF ;
}

.list-inside {
    list-style-position: inside;
}

.text-products-color {
    color: blueviolet;
}

.box {
    background-color: gray;
    width: 50px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: small;
}

.text-prdct-title-ht {
    height: 48px;
}